extends layout

block content
  h1= title
  - var list ='';
      ol#ingridientslist
          each ingridient in ingredients
            - list=list+ingridient.text+"\n";
            li #{ingridient.text} - #{ingridient.amount}



  form(method="post" target="_blank" action="https://shop.countdown.co.nz/Shop/EditSearchList")
      input(type="hidden", name="__RequestVerificationToken" value="WQm-Rr4W0IzzmqOaN3LBnUwVuWfBfJlVKv-74q0xxW34NTdy_2HqOJrEVMn-rWX9piuxfR6bjUcA0OjW8en64MTAmWybGmv5QPrttESzvn01")
      textarea#cowntdownlist( name="searchList", rows="6", cols="66" )
          |#{list}
      br
      input(type="submit", value="Find these products in Countdown").btn.btn-default
  br
  form(method="post" action="/shoppinglistreset")
    input(type="submit", value="Clean List").btn.btn-default