extends layout

block content
    h1= title
    //- p #{recipe.body()}
    div.row#recipeslist
        each recipe in recipes
            ul
                li
                    a(href='/recipe/'+ recipe._id) #{recipe.recipe_title}
                    p --
                    a(href='/recipe_edit/'+ recipe._id) Edit
                    ||
                    a(href='/recipe_delete/'+ recipe._id) Remove
    if paginate.hasPreviousPages || paginate.hasNextPages(pageCount)
        div.page-numbers
            div.container
                div.col-md-12.text-center
                    div.pagination-content
                        ul
                            if paginate.hasPreviousPages
                                li
                                    a(href=paginate.href(true))
                                        i.fa.fa-angle-double-left
                            if pages
                                each page in pages
                                    - var aktive = (currentPage == page.number ? 'active' : '')
                                    li(class=aktive)
                                        a(href=page.url)= page.number
                            if paginate.hasNextPages(pageCount)
                                li
                                    a(href=paginate.href())
                                        i.fa.fa-angle-double-right