extends layout

block content
  h1= title
  - var list ='';
      ol#ingridientslist
          each ingridient in ingredients
            - list=list+ingridient.text+"\n";
            li #{ingridient.text} - #{ingridient.amount}



  form(method="post" action="https://shop.countdown.co.nz/Shop/EditSearchList")
      input(type="hidden", name="__RequestVerificationToken" value="C6aI6EduA03UqarFdwpOl-t4IUgNopyCwLI_FNQPm9241_gRpNmS2iauQwV-6WD4t0zhT73CtgjMqO31iAzvRlVU4wsxJxXF8KdV7tgeYwg1")
      textarea#cowntdownlist( name="searchList", rows="6", cols="66" )
          |#{list}
      br
      input(type="submit", value="Find these products in Cowntdown")
  br
  form(method="post" action="/shoppinglistreset")
    input(type="submit", value="Clean List")